@import "tailwindcss";

@layer components {
	/* Header */
	.name {
		@apply text-[#2B283A] font-bold text-[1.5625rem];
	}
	.job {
		@apply text-[#F47D27] text-[0.8rem];
	}
	.weblink {
		@apply mt-2;
		@apply text-[0.64rem];
	}
	.profile-btn {
		@apply flex items-center justify-center gap-1.5;
		@apply w-28.75 h-8.5 rounded-lg;
		@apply cursor-pointer;
	}

	/* Main */
	.section-name {
		@apply text-[#2B283A] font-bold mt-6;
	}
	.section-desc {
		@apply text-[0.64rem];
	}

	/* Footer */
	.social-icon {
		@apply text-2xl text-[#918E9B];
		@apply cursor-pointer;
	}
}
