@import "tailwindcss";

@theme {
	--color-primary: #f5f5f5;
	--color-header-text: #2b283a;
	--color-text: #4a4e74;

	--color-job: #f47d27;
	--color-linkedin: #297fe5;

	--color-footer: #d5d4d8;
}

@layer theme {
	.dark {
		--color-primary: #1a1b21;
		--color-header-text: white;
		--color-text: #dcdcdc;

		--color-job: #f3bf99;
		--color-linkedin: #5093e2;

		--color-footer: #161619;
	}
}

@layer components {
	/* Header */
	.name {
		@apply text-header-text font-bold text-[1.5625rem];
	}
	.job {
		@apply text-job text-[0.8rem];
	}
	.weblink {
		@apply mt-2;
		@apply text-[0.64rem];
	}
	.profile-btn {
		@apply flex items-center justify-center gap-1.5;
		@apply w-28.75 h-8.5 rounded-lg text-[0.875rem];
		@apply cursor-pointer;
	}

	/* Main */
	.section-name {
		@apply text-header-text font-bold mt-6;
	}
	.section-desc {
		@apply text-[0.64rem];
	}

	/* Footer */
	.social-icon {
		@apply text-2xl text-[#918E9B];
		@apply cursor-pointer;
	}
}
