*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Jetbrains Mono", sans-serif;
}

body {
    background-color: #eeeeee;
}

#header {
    position: sticky;
    top: 0;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 5px 0;
}

#nav-bar {
    display: flex;
    flex-direction: column;
}

#header-img {
    width: 300px
}

.nav-link {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 3px;
}

.nav-link:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    width: 300px;
    height: 30px;
    padding: 0 5px;
}

#submit {
    width: 150px;
    background-color: #f1c40f;
    transition: background-color 0.3s ease;
    border: none;
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
}

#submit:hover {
    cursor: pointer;
    background-color: #ffa500;
}

input {
    margin: 10px;
}

.fa {
    display: none;
}

#features {
    display: grid;
    grid-template-columns: minmax(5px, 1fr) minmax(min-content, 900px) minmax(5px, 1fr);
}

.feature {
    grid-column: 2/3;
    margin: 40px 0;
}

.feature * {
    text-align: center;
}

.general-feature {
    font-weight: bold;
    font-size: 22px;
}

#video {
    display: block;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16/9;
    margin: 0 auto;
}

#grid-container {
    margin: 40px 0;
}

.price-card {
    width: 300px;
    margin: 20px auto 0 auto;
    border: 1px solid black;
}

.price-card * {
    text-align: center;
}

.price-card header {
    width: 100%;
    font-size: 1.1rem;
    background-color: #dddddd;
    font-weight: bold;
    padding: 10px 0;
}

.price-card .price {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 10px 0;
}

.price-card ul {
    list-style: none;
    margin: 20px 0;
}

.price-card li {
    margin-bottom: 10px;
}

.price-card .select-button {
    width: fit-content;
    font-size: 1.05rem;
    background-color: #f1c40f;
    transition: background-color 0.3s ease;
    margin: 20px auto 10px auto;
    padding: 8px 18px;
    border-radius: 5px;
}

.price-card .select-button:hover {
    cursor: pointer;
    background-color: #ffa500;
}

footer {
    background-color: #dddddd;
}

#info {
    position: relative;
    text-align: right;
    padding: 20px;
}

#info a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0 8px;
}

#info #copyright {
    color: #444444;
    font-size: 0.8rem;
}

@media (min-width: 550px) {
    .fa {
        display: block;
        color: #ff8c00;
    }

    .feature {
        display: grid;
        grid-template-columns: 1fr 5fr;
        place-items: center;
    }

    .feature * {
        text-align: left;
    }
}

@media (min-width: 600px) {
    #header {
        grid-template-columns: 1fr 1fr;
    }

    #header-img {
        justify-self: start;
        width: 280px;
        margin: 10px 20px;
    }
}

@media (min-width: 650px) {
    h1 {
        font-size: 1.8rem;
    }

    #nav-bar {
        width: 100%;
        max-width: 400px;
        flex-direction: row;
        justify-self: end;
        justify-content: space-evenly;
    }
}

@media (min-width: 800px) {
    #grid-container {
        display: grid;
        grid-template-columns: minmax(10px, 1fr) minmax(min-content, 1500px) minmax(10px, 1fr);
        place-items: center;
    }

    #sub-grid {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 350px));
        place-items: center;
        column-gap: 20px;
    }

    .price-card {
        width: 100%;
    }
}