@import "tailwindcss";

@theme {
	--font-jetbrains: "JetBrains Mono", monospace;
}

@layer components {
	.input-section {
		@apply flex items-center justify-evenly;
		@apply h-[90px];
		@apply select-none;
	}

	.color-input {
		@apply w-[51px] h-[42px] cursor-pointer;
	}
	.mode-input {
		@apply flex items-center relative;
		@apply w-[400px] px-3 py-1.5 border border-gray-300 rounded-sm;
	}
	.mode-selector {
		@apply absolute left-0 top-10 flex flex-col;
		@apply w-full h-fit border border-gray-300 rounded-sm bg-white;
	}
	ul > li:hover {
		@apply bg-gray-100;
	}
	.get-scheme-btn {
		@apply w-[180px] px-2 py-1.5 rounded-sm bg-black text-white;
		@apply cursor-pointer;
	}

	.output-section {
		@apply h-[460px];
	}
	.output-list {
		@apply grid grid-cols-5 h-full w-full;
	}
	.color-div {
		@apply flex flex-col;
		@apply h-full;
	}
	.color {
		@apply flex-8;
	}
	.color-code {
		@apply flex-1;
		@apply flex items-center justify-center;
		@apply text-[0.9rem] font-medium;
	}
}
