@import "tailwindcss";

@theme {
	--font-display: "Roboto", sans-serif;
}

@layer base {
	button {
		@apply cursor-pointer;
	}
}

@layer utilities {
	.text-primary {
		@apply text-[#efefef];
	}
	.text-gradient-bold {
		@apply bg-clip-text;
		@apply bg-linear-to-r from-[#8eccff] from-40% to-[#7065ff];
		@apply text-transparent font-bold;
	}
	.flex-col-center {
		@apply flex flex-col justify-center items-center;
	}
	.flex-row-center {
		@apply flex justify-center items-center;
	}
	.p-responsive {
		@apply grid grid-cols-[minmax(1.3rem,1fr)_minmax(min-content,75rem)_minmax(1.3rem,1fr)];
	}
	.p-button-large {
		@apply pt-[clamp(12px,3vw,16px)] pb-[clamp(12px,3vw,16px)] pl-[clamp(40px,14vw,75px)] pr-[clamp(40px,14vw,75px)];
	}
	.p-button {
		@apply pt-[clamp(10px,2vw,12px)] pb-[clamp(10px,2vw,12px)] pl-[clamp(40px,10vw,60px)] pr-[clamp(40px,10vw,60px)];
	}
	.border-gradient {
		border: 1px solid transparent;
		border-radius: 0.5rem;
		background: linear-gradient(#0e1028, #0e1028) padding-box,
			linear-gradient(90deg, #51a2ff 0%, #7065ff 50%, #4a3ef7 100%) border-box;
	}
	.border-gradient:focus-within {
		border: 1px solid transparent;
		border-radius: 0.5rem;
		background: linear-gradient(#0e1028, #0e1028) padding-box,
			linear-gradient(90deg, #bedbff 0%, #bedbff 50%, #bedbff 100%) border-box;
	}
}

@layer components {
	.divider {
		@apply col-span-full;
		@apply h-px md:h-0.5 w-[50vw];
		@apply bg-linear-to-r m-auto from-transparent via-blue-200 to-transparent;
	}
	.button {
		@apply relative;
		@apply rounded-md;
		@apply bg-linear-to-r from-blue-400 via-[#7065ff] to-[#4a3ef7];
		@apply transition duration-200 ease-in-out hover:scale-105 will-change-transform;
	}
	.navigation-toggle {
		@apply hover:bg-white/5 ml-auto mr-4 p-1 rounded-md;
		@apply text-2xl text-white;
	}
	.nav-link {
		@apply relative block;
		@apply bg-transparent py-1 px-4 md:px-6 rounded-md overflow-hidden;
		@apply text-[0.8rem] md:text-[0.9rem] lg:text-[1rem] font-bold tracking-wider;
	}
	.nav-link::before {
		content: "";
		@apply absolute;
		@apply inset-0 -z-10 opacity-0;
		@apply bg-linear-to-r from-blue-400/90 via-[#7065ff]/90 to-[#4a3ef7]/90;
		@apply transition duration-200 ease-in-out;
	}
	.nav-link:hover::before {
		@apply opacity-100;
	}
	.nav-link-mobile {
		@apply relative block;
		@apply bg-transparent py-5 px-4 overflow-hidden;
		@apply text-[1rem] text-center font-bold tracking-wider;
	}
	.nav-link-mobile::before {
		content: "";
		@apply absolute;
		@apply inset-0 -z-10  opacity-0;
		@apply bg-linear-to-r from-blue-400/90 via-[#7065ff]/90 to-[#4a3ef7]/90;
	}
	.nav-link-mobile:hover::before {
		@apply opacity-100;
	}
	.skill-tag {
		@apply relative cursor-default;
		@apply w-fit bg-[#10183a] rounded-md py-2 px-5 border-gray-700;
		@apply font-bold text-[clamp(16px,2vw,18px)];
		@apply transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-110;
	}
	.hero-bg {
		@apply bg-[url('/public/hero_background.webp')] bg-cover bg-center;
	}
	.contact-bg {
		@apply bg-[url('/public/contact_background.webp')] bg-cover bg-center;
	}
	.hero-blur-layer {
		@apply absolute;
		@apply inset-0 -z-10;
		@apply bg-[linear-gradient(to_bottom,#000212_0%,#000212_1%,transparent_10%,transparent_80%,#000212_95%,#000212_100%)];
	}
	.contact-blur-layer {
		@apply absolute;
		@apply inset-0 -z-10;
		@apply bg-[linear-gradient(to_bottom,#000212_0%,#000212_5%,transparent_20%,transparent_90%,#000212_98%,#000212_100%)];
	}
	.heading-after {
		@apply w-6 h-1 rounded-md bg-[#c7d3fc];
	}
	.project-img {
		@apply w-full md:m-0 md:justify-self-end m-auto rounded-md aspect-video object-cover;
	}
	.project-name {
		@apply relative;
		@apply md:w-fit mt-6 md:mt-0 mb-2;
		@apply font-bold text-center md:text-left text-2xl xl:text-3xl;
		@apply transition duration-200 ease-in-out group-hover/project:text-shadow-[0_0_50px_white] will-change-[color];
	}
	.project-name::before {
		content: "";
		@apply absolute;
		@apply bottom-0 left-0 right-0 m-auto h-0.5 w-0 bg-white;
		@apply transition-[width] duration-200 ease-in-out;
	}
	.group\/project:hover .project-name::before {
		@apply w-full;
	}
	.project-svg {
		@apply md:hidden;
		@apply size-5;
		@apply transition duration-200 ease-in-out group-hover/project:-translate-y-0.5 group-hover/project:translate-x-0.5 will-change-transform;
	}
	.project-description {
		@apply m-auto md:m-0 max-w-2xl;
		@apply text-center md:text-left xl:text-lg;
	}
	.project-container {
		@apply md:grid md:grid-cols-2 md:items-center;
		@apply p-6 mb-4 md:mb-0 md:gap-10 md:max-w-[900px] xl:max-w-[1000px] rounded-3xl bg-transparent;
		@apply group-hover/all:opacity-40 hover:opacity-100!;
		@apply transition duration-200 ease-in-out hover:bg-white/10 md:hover:bg-transparent md:hover:scale-105 will-change-[background-color];
	}
	.input-container {
		@apply pb-6;
	}
	.input-field {
		@apply block;
		@apply w-full p-4 bg-[#000212] rounded-lg mt-2;
		@apply text-[1rem] focus:outline-0 focus:border-0;
	}
	.glow-box {
		@apply relative z-0; /* Tạo stacking context mới */
	}
	/* LỚP 1: Gradient mặc định */
	.glow-box::before {
		content: "";
		@apply absolute -inset-2 rounded-lg -z-10 blur-md;
		@apply transform-gpu transition-opacity duration-300 ease-in-out;
		@apply bg-gradient-to-r from-blue-400 via-[#7065ff] to-[#4a3ef7];
		opacity: 1;
	}
	/* LỚP 2: Màu khi Focus */
	.glow-box::after {
		content: "";
		@apply absolute -inset-2 rounded-lg -z-10 blur-md;
		@apply transform-gpu transition-opacity duration-300 ease-in-out;
		@apply bg-blue-200;
		opacity: 0;
	}
	.glow-box:focus-within::before {
		opacity: 0; /* Fade out gradient cũ */
	}
	.glow-box:focus-within::after {
		opacity: 1; /* Fade in màu mới */
	}
	.social-icon {
		@apply p-1;
		@apply bg-linear-to-br from-[#efefef] to-[#efefef];
		@apply text-3xl md:text-4xl bg-clip-text text-transparent font-bold;
		@apply transition duration-100 ease-in-out hover:-translate-y-2 hover:scale-125 hover:from-[#8eccff] hover:from-40% hover:to-[#7065ff] will-change-[background-image];
	}
	@media (hover: none) {
		.group\/project:hover .project-name::before {
			@apply w-0;
		}
		.nav-link-mobile:active::before {
			@apply opacity-100;
		}
		.button {
			@apply active:scale-95 active:opacity-80 duration-75;
		}
		.project-name {
			@apply group-active/project:text-[#8eccff] transition-none;
		}
		.project-svg {
			@apply transition-none group-active/project:-translate-y-0.5 group-active/project:translate-x-0.5;
		}
		.project-container {
			@apply active:bg-white/10 transition-none;
		}
		.social-icon {
			@apply active:from-[#8eccff] active:from-40% active:to-[#7065ff] transition-none;
		}
	}
}
