@import "tailwindcss";

@theme {
  --color-text-title: #5A537B;
  --color-text-result: #353535;
  --color-base: #F4F4F4;
  --color-surface-1: #FFFFFF;
  --color-background: #1C1C1C;
  --color-toggle-theme: #EFEFEF
}

@layer theme {
  .dark {
    --color-text-title: #CCC1FF;
    --color-text-result: #FFFFFF;
    --color-base: #1F2937;
    --color-surface-1: #273549;
    --color-background: #EFEFEF;
    --color-toggle-theme: #1C1C1C;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .input-field {
    @apply block mx-auto mt-8 w-[117px] h-[83px] border-2 border-[#B295FF] rounded-[5px] text-[58px] text-white font-extrabold text-center focus:outline-0
  }
  .convert-btn {
    @apply block mx-auto mt-6 cursor-pointer bg-white text-[16px] rounded-[5px] w-[117px] h-[42px]
  }
  .output-container {
    @apply bg-surface-1 w-[500px] text-center py-[30px] rounded-[5px]
  }
  .output-title {
    @apply font-semibold text-[20px] text-text-title
  }
  .result {
    @apply font-normal text-[14px] text-text-result
  }
  .toggle-theme-btn {
    @apply p-2 rounded-br-2xl bg-toggle-theme text-background
  }
}





