@import "tailwindcss";

@theme {
	--font-primary: "Smythe", system-ui;
	--color-accent: #16db99;
	--color-confirmation-div: #ecfdf5;
	--color-confirmation-text: #065f46;
}

@layer base {
	button {
		@apply cursor-pointer transition hover:-translate-y-1;
	}
}

@layer theme {
	.blue {
		--color-accent: #38bdf8;
		--color-confirmation-div: #f0f9ff;
		--color-confirmation-text: #075985;
	}
	.purple {
		--color-accent: #a78bfa;
		--color-confirmation-div: #f5f3ff;
		--color-confirmation-text: #5b21b6;
	}
	.red {
		--color-accent: #fb7185;
		--color-confirmation-div: #fff1f2;
		--color-confirmation-text: #9f1239;
	}
	.orange {
		--color-accent: #fbbf24;
		--color-confirmation-div: #fffbeb;
		--color-confirmation-text: #92400e;
	}
}

@layer components {
	.emoji {
		@apply text-[78.72px];
	}
	.name {
		@apply text-[28px];
	}
	.ingredients {
		@apply text-[16px] text-[#8b8b8b];
	}
	.price {
		@apply text-[20px];
	}
	.description {
		@apply ml-5;
	}
	.add-btn {
		@apply rounded-full border w-[50px] h-[50px] text-xl ml-auto mr-3 hover:translate-0;
	}
	.item {
		@apply flex items-center border-b border-[#D2D2D2] pb-5 last:pb-0 last:border-none;
	}
	.divider {
		@apply h-px w-full bg-[#D2D2D2] mb-8;
	}
	/* Order Confirmation */
	.ordered-item {
		@apply flex items-center;
	}
	.ordered-name {
		@apply text-[28px];
	}
	.remove-btn {
		@apply font-mono ml-2 mt-1 text-[#bbbbbb] text-[12px] hover:text-red-500 select-none;
	}
	.ordered-price {
		@apply text-[22px] ml-auto;
	}
	.order-btn {
		@apply h-[60px] w-full bg-accent font-mono font-bold text-white text-[18px] mt-10 rounded-md;
	}
	/* Card Modal */
	.card-modal-content {
		@apply absolute inset-0 w-[524px] h-fit m-auto p-5 bg-white shadow-[0px_0px_1000px_black] font-sans rounded-md;
	}
	.modal-input {
		@apply block w-full p-3 mt-2 focus:outline-none border rounded-md;
	}
}
