@import "tailwindcss";

@theme {
	--font-primary: "Inter", sans-serif;
}

@layer components {
	.header {
		@apply fixed;
		@apply flex justify-between items-center;
		@apply h-52 w-[inherit] px-10 bg-black;
		@apply text-white;
		@apply z-50;
	}
	.header-img {
		@apply absolute inset-0;
		@apply w-full h-full;
		@apply object-cover object-[25%_22%] opacity-20;
		@apply -z-10;
	}
	.header-title {
		@apply text-[2.5rem] font-extrabold tracking-wide;
	}
	.watchlist-btn {
		@apply px-2 py-1 rounded-sm hover:bg-gray-500/30;
		@apply font-medium;
		@apply transition ease-in-out;
		@apply cursor-pointer;
	}

	.search-bar {
		@apply absolute -bottom-4;
		@apply flex;
		@apply w-[462px] h-[38px] m-auto bg-white rounded-md shadow-md;
		@apply text-black;
	}
	.search-field {
		@apply flex-3;
		@apply flex items-center gap-4;
		@apply px-4;
	}
	.search-icon {
		@apply size-5 text-gray-400;
	}
	.search-input {
		@apply w-full focus:outline-0;
		@apply font-medium text-[0.9rem] placeholder:text-gray-400;
	}
	.search-btn {
		@apply flex-1;
		@apply bg-gray-50 rounded-r-md border-l border-l-gray-200;
		@apply text-[0.9rem] text-gray-700;
		@apply cursor-pointer;
	}

	.main {
		@apply relative;
		@apply flex;
		@apply h-[571px] mt-52;
		@apply z-0;
	}
	.empty-placeholder {
		@apply absolute inset-0;
		@apply flex flex-col items-center justify-center;
		@apply m-auto;
		@apply text-gray-300;
		@apply -z-10;
	}
	.film-container {
		@apply grid grid-cols-[auto_1fr] gap-6;
		@apply mt-16 px-11;
	}
	.film-poster {
		@apply object-cover rounded-sm;
		@apply w-[100px] h-[150px];
	}
	.film-info {
		@apply grid grid-cols-10 items-center;
	}
	.film-title {
		@apply col-span-4;
		@apply text-xl font-medium;
	}
	.film-rating {
		@apply col-span-6;
		@apply text-xs;
	}
	.film-rating-icon {
		@apply text-[#FEC654];
	}
	.film-runtime {
		@apply col-span-2;
		@apply text-xs;
	}
	.film-genre {
		@apply col-span-4;
		@apply text-xs;
	}
	.add-watchlist-btn {
		@apply col-span-4;
		@apply flex items-center gap-1;
		@apply w-fit ml-3 px-2.5 py-1.5 rounded-md hover:bg-gray-100;
		@apply text-xs;
		@apply transition ease-in-out;
		@apply cursor-pointer;
	}
	.add-watchlist-btn-icon {
		@apply size-4;
	}
	.film-plot {
		@apply col-span-full;
		@apply text-[0.875rem] text-[#6B7280];
	}

	/* 
<ul>
	<li>
		<div class="film-container">
			<img class="film-poster" />
			<div class="film-info">
				<p class="film-title"></p>
				<p class="film-rating">
					<span class="film-rating-icon"></span>
				</p>
				<p class="film-runtime"></p>
				<p class="film-genre"></p>
				<button class="add-watchlist-btn"></button>
				<p class="plot"></p>
			</div>
		</div>
	</li>
</ul>
*/
}
