@import "tailwindcss";

@theme {
	--font-primary: "Inter", sans-serif;
}

@layer components {
	.header {
		@apply fixed;
		@apply flex justify-between items-center;
		@apply h-52 w-[inherit] px-10 bg-black;
		@apply text-white;
		@apply z-50;
	}
	.header-img {
		@apply absolute inset-0;
		@apply w-full h-full;
		@apply object-cover object-[25%_22%] opacity-20;
		@apply -z-10;
	}
	.header-title {
		@apply text-[2.5rem] font-extrabold tracking-wide;
	}
	.home-btn,
	.watchlist-btn {
		@apply px-2 py-1 rounded-sm hover:bg-gray-500/30;
		@apply font-medium;
		@apply transition ease-in-out;
		@apply cursor-pointer;
	}
	.search-bar {
		@apply absolute -bottom-4;
		@apply flex;
		@apply w-[462px] h-[38px] m-auto bg-white rounded-md shadow-md;
		@apply text-black;
	}
	.search-field {
		@apply flex-3;
		@apply flex items-center gap-4;
		@apply px-4;
	}
	.search-icon {
		@apply size-5 text-gray-400;
	}
	.search-input {
		@apply w-full focus:outline-0;
		@apply font-medium text-[0.9rem] placeholder:text-gray-400;
	}
	.search-btn {
		@apply flex-1;
		@apply bg-gray-50 rounded-r-md border-l border-l-gray-200;
		@apply text-[0.9rem] text-gray-700;
		@apply cursor-pointer;
	}

	.main {
		@apply relative;
		@apply flex;
		@apply h-[571px] mt-52;
		@apply z-0;
	}
	.status {
		@apply absolute inset-0;
		@apply flex flex-col items-center justify-center;
		@apply m-auto;
		@apply text-gray-300;
		@apply -z-10;
	}
	.film-list {
		@apply w-full my-16 px-12;
	}
	.film-list li {
		@apply not-last:border-b not-last:border-gray-300 not-last:pb-5 not-first:pt-5;
	}
	.film-container {
		@apply grid grid-cols-[auto_1fr] gap-6 items-center;
	}
	.film-poster {
		@apply object-cover rounded-sm;
		@apply w-[100px] h-[150px];
	}
	.film-info {
		@apply flex flex-col justify-between;
	}
	.film-title-rating {
		@apply flex items-center gap-2;
	}
	.film-title {
		@apply max-w-60 overflow-hidden;
		@apply text-xl font-medium text-ellipsis text-nowrap;
	}
	.film-rating {
		@apply text-xs;
	}
	.film-rating-icon {
		@apply text-[#FEC654];
	}
	.film-runtime-genre-watchlist {
		@apply flex items-center justify-between;
	}
	.film-runtime {
		@apply col-span-2;
		@apply text-xs;
	}
	.film-genre {
		@apply col-span-4;
		@apply text-xs text-center;
	}
	.add-watchlist-btn,
	.remove-watchlist-btn {
		@apply col-span-4;
		@apply flex items-center gap-1;
		@apply w-fit px-2.5 py-1.5 rounded-md hover:bg-gray-100 disabled:invisible;
		@apply text-xs;
		@apply transition ease-in-out;
		@apply cursor-pointer;
	}
	.add-watchlist-btn-icon,
	.remove-watchlist-btn-icon {
		@apply size-4;
	}
	.film-plot {
		@apply col-span-full;
		@apply text-[0.875rem] text-[#6B7280];
	}
}
