@import "tailwindcss";

@theme {
	--font-primary: "Inter", sans-serif;

	--color-text: black;
	--color-search-bar: white;
	--color-search-bar-text: black;
	--color-search-button: #f9fafb;
	--color-search-button-text: #364153;
	--color-page: white;
	--color-status-text: #d1d5dc;
	--color-divider: #d1d5dc;
	--color-watchlist-button-hover: #f3f4f6;
	--color-film-plot: #6b7280;
	--color-home-btn-2-text: black;
}

@layer theme {
	.dark {
		--color-text: white;
		--color-search-bar: #2e2e2f;
		--color-search-bar-text: white;
		--color-search-button: #4b4b4b;
		--color-search-button-text: #ffffff;
		--color-page: #121212;
		--color-status-text: #99a1af;
		--color-divider: #d1d5dc;
		--color-watchlist-button-hover: #242424;
		--color-film-plot: #a5a5a5;
		--color-home-btn-2-text: white;
	}
}

@layer components {
	.loading-overlay {
		@apply absolute w-[550px] h-[779px] m-auto z-100 flex items-center justify-center;
		@apply bg-black/50;
	}
	.loading-spinner {
		@apply w-16 h-16 border-4 border-white/20 border-t-white rounded-full;
		animation: spin 1s linear infinite;
	}
	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	.header {
		@apply fixed;
		@apply flex justify-between items-center;
		@apply h-52 w-[inherit] px-10 bg-black;
		@apply text-white;
		@apply z-50;
	}
	.header-img {
		@apply absolute inset-0;
		@apply w-full h-full;
		@apply object-cover object-[25%_22%] opacity-20;
		@apply -z-10;
	}
	.header-title {
		@apply text-[2.5rem] font-extrabold tracking-wide;
	}
	.home-btn,
	.watchlist-btn {
		@apply px-2 py-1 rounded-sm hover:bg-gray-500/30;
		@apply font-medium;
		@apply transition ease-in-out;
		@apply cursor-pointer;
	}
	.search-bar {
		@apply absolute -bottom-4;
		@apply flex;
		@apply w-[462px] h-[38px] m-auto bg-search-bar rounded-md shadow-md;
		@apply text-search-bar-text;
	}
	.search-field {
		@apply flex-3;
		@apply flex items-center gap-4;
		@apply px-4;
	}
	.search-icon {
		@apply size-5 text-gray-400;
	}
	.search-input {
		@apply w-full focus:outline-0;
		@apply font-medium text-[0.9rem] placeholder:text-gray-400;
	}
	.search-btn {
		@apply flex-1;
		@apply bg-search-button rounded-r-md border-l border-l-gray-200 dark:border-0;
		@apply text-[0.9rem] text-search-button-text font-medium;
		@apply cursor-pointer;
	}

	.main {
		@apply relative;
		@apply flex;
		@apply h-[571px] mt-52;
		@apply z-0;
	}
	.status {
		@apply absolute inset-0;
		@apply flex flex-col items-center justify-center;
		@apply m-auto;
		@apply text-status-text;
		@apply -z-10;
	}
	.film-list {
		@apply w-full my-16 px-12;
	}
	.film-list li {
		@apply not-last:border-b not-last:border-divider not-last:pb-5 not-first:pt-5;
	}
	.film-container {
		@apply grid grid-cols-[auto_1fr] gap-6 items-center;
	}
	.film-poster {
		@apply object-cover rounded-sm;
		@apply w-[100px] h-[150px];
	}
	.film-info {
		@apply flex flex-col justify-between;
	}
	.film-title-rating {
		@apply flex items-center gap-2;
	}
	.film-title {
		@apply max-w-60 overflow-hidden;
		@apply text-xl font-medium text-ellipsis text-nowrap;
	}
	.film-rating {
		@apply text-xs;
	}
	.film-rating-icon {
		@apply text-[#FEC654];
	}
	.film-runtime-genre-watchlist {
		@apply flex items-center justify-between;
	}
	.film-runtime {
		@apply col-span-2;
		@apply text-xs;
	}
	.film-genre {
		@apply col-span-4;
		@apply text-xs text-center;
	}
	.add-watchlist-btn,
	.remove-watchlist-btn {
		@apply col-span-4;
		@apply flex items-center gap-1;
		@apply w-fit px-2.5 py-1.5 rounded-md hover:bg-watchlist-button-hover disabled:invisible;
		@apply text-xs;
		@apply transition ease-in-out;
		@apply cursor-pointer;
	}
	.add-watchlist-btn-icon,
	.remove-watchlist-btn-icon {
		@apply size-4;
	}
	.film-plot {
		@apply col-span-full;
		@apply text-[0.875rem] text-film-plot;
	}
}
