@import "tailwindcss";

#root {
	@apply bg-[#1c1c1c] w-full min-h-screen;
	@apply flex items-center justify-center;
	@apply font-['Karla'];
	@apply overflow-y-auto;
	scrollbar-width: none;
}

@layer components {
	.container {
		@apply flex flex-col items-center justify-center;
		@apply w-full h-full p-10;
	}

	.question-list {
		@apply flex flex-col;
	}
	.question-list > li {
		@apply py-4;
		@apply border-b border-[#DBDEF0];
	}
	.question-title {
		@apply text-[#293264] font-bold;
	}
	.question-answer-list {
		@apply flex gap-2;
		@apply mt-2;
	}
	.question-answer {
		@apply border-[1.2px] border-[#4D5B9E] py-0.5 px-3 rounded-lg;
		@apply text-[0.64rem] text-center font-bold text-[#293264];
		@apply has-checked:border-[#D6DBF5] has-checked:bg-[#D6DBF5];
		@apply select-none cursor-pointer has-disabled:opacity-50;
	}
	.question-answer.correct-option {
		@apply bg-[#94D7A2] border-[#94D7A2];
		@apply has-disabled:opacity-100;
	}
	.question-answer.incorrect-option {
		@apply bg-[#F8BCBC] border-[#F8BCBC];
	}
	.question-answer > input {
		@apply appearance-none;
	}
}
